.access{
  padding-top : 0em;
  padding-left:2em;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #fff;
}

.tab_content{
  padding-top : 0em;
  padding-left:2em;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #fff;

}

.tab_clearer{
  clear: left;
  line-height: 0;
  height: 0;
}

.tab_content_left {
  top: auto;
  float: left;
  align: left;
}

.tab_content_middle {
  top: auto;
  float: left;
  padding: 3em 1em 0 1em;
  align: center;
}

.tab_content_right {
  top: auto;
  align: left;
}

.tab_content_bottom {

}

.description {
  font-size: 0.8em;
  font-style: italic;
  margin : 0.5em;
}

.users {
  width: 10em;
}

.wrapper {
  background-color: #EEE;
  border: 1px solid #CCC;
  margin : 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: verdana;
  font-size: 90%;
  padding: 5px;
  vertical-align: middle;
  width: 98%;
}

.audience {
  background-color: #CCC;
  width:60%;
  height: 5em;

}

.help_text {
  padding-bottom: 5px;
  vertical-align: middle;
}

.help_image {
  margin-right: 10px;
  margin-bottom: 5px;
  font-style: italic;
  vertical-align: middle;
}

#help_wrapper {
  background-color: #EEE;
  border: 1px solid #CCC;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 6px;
  margin-right: 6px;
  font-family: verdana;
  font-size: 90%;
  padding: 5px;
  vertical-align: middle;
}

.hide_audiences {
  display: none;
}

.invisible {
  display: none;
}
.audience_fieldset {
  margin : 0.5em;
  width: 98%;
}

.tabs_wrapper {
	margin-top: 1em;
	padding-left: 10px;
	border-bottom: solid 1px #CCC;
	font-size: 0.9em;
}

.tab {
  cursor: pointer;
  width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 2px;
	background: #ddd;
	border-bottom: solid 1px #CCC;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-top: solid 1px #CCC;
}

.tab_active {
	background: #fff;
	border-bottom: solid 1px #fff;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-top: solid 1px #CCC;
}

#user_audience_selections {
	width: 14em;
}

#user_audience_suggestions {
	width: 14em;
}

#group_audience_selections {
	width: 14em;
}

#group_audience_suggestions {
	width: 14em;
}

.button {
  cursor: pointer;
}


.access_type_label {
  float:left;
  font-weight: bold;
  width: 30%;
  padding: 1px 2px 1px 0px;
}

.specific_access_type {
  float:left;
  padding: 1px 2px 1px 2px;
  margin-left: 2px;
  width: 20%;
  text-align:center;
  background-color: #CCC;
}

.advanced_wrapper {
  clear:left;
}

.advanced_type_label{
  background-color: #CCC;
  width:30%;
  padding: 1px 2px 1px 0px;
  margin-top:1px;
  margin-bottom:1px;
  text-align: left;
  padding-left: 2px;
}

.advanced_item {
  margin: 0px 0px 2px 0px;
  width:100%;

}

.advanced_div {
  padding-bottom: 1px;
  float:left;
  width: 100%;

}

.advanced_div_label {
  float: left;
  width:30%;
  padding: 1px 2px 1px 2px;
  min-height: 20px;
  border-top: 1px solid #EEE;

}

.advanced_div_label span {
  vertical-align: middle;

}

.advanced_div_option {
  float:left;
  margin-left: 2px;
  padding: 1px 2px 1px 2px;
  width: 20%;
  text-align:center;
  background-color: #EEE;
}





